@charset "utf-8";

$colour-primary-lighter: #fd00fd;
$colour-primary-light: #b900b9;
$colour-primary-default: #800080;
$colour-primary-dark: #580158;
$colour-secondary-default: #37464d;
$colour-dark-light: #2f2f30;
$colour-dark-default: #282727;
$colour-success-default: #53c78d;
$colour-warning-default: #e6bc5c;
$colour-danger-default: #d51f1f;
$colour-neutral-default: #807b7b;
$colour-white-dark: whitesmoke;
$colour-white-default: white;

$shadow-light: rgba(0, 0, 0, 0.34);
$shadow-med: rgba(0, 0, 0, 0.49);
$shadow-dark: rgba(0, 0, 0, 0.67);
$font-xs: 0.6rem;
$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.6rem;
$font-2xl: 2rem;
$font-3xl: 3rem;
