@charset "utf-8";

$colour-primary-lighter: #fc9d67;
$colour-primary-light: #e99462;
$colour-primary-default: #cd8358;
$colour-primary-dark: #ac6c48;
$colour-secondary-default: #848093;
$colour-dark-light: #373757;
$colour-dark-default: #292941;
$colour-success-default: #53c78d;
$colour-warning-default: #e6bc5c;
$colour-danger-default: #d51f1f;
$colour-neutral-default: #7a5b65;
$colour-white-dark: whitesmoke;
$colour-white-default: #fbfafb;

$shadow-light: rgba(0, 0, 0, 0.34);
$shadow-med: rgba(0, 0, 0, 0.49);
$shadow-dark: rgba(0, 0, 0, 0.67);
$font-xs: 0.6rem;
$font-sm: 0.8rem;
$font-md: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.6rem;
$font-2xl: 2rem;
$font-3xl: 3rem;
$font-4xl: 4rem;
$font-5xl: 5rem;
